* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
      background-color: #dcdcdc;
      height: auto;
  }
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    
    
  }
  nav li{
    height: 100%;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    font-size: larger;
    font-weight: 500;
    font-family: cursive;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
    color: rgb(255, 0, 0);
  }
  nav li:first-child{
    margin-right: auto;
  }
  #logo{
    display: flex;
    align-items: center;
    margin-left: 6%;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
    height: 50px;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
  /* end of navbarrrrrrrrrrrrrrrrrrrrrrrr */
  .container{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
   
  }
  form{
    width: 40%;
    margin: 1%;
    padding: 1%;
    background-color: white;
    border-radius: 10px;
    height: 60%;
    
  }
  form input{
    width: 95%;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    font-size:medium;
  }
  form label{
    font-size: large;
    margin-left: 10px;
  }
  form h1{
    margin-bottom: 10px;
  }

  /* ends of form */
  .table-container{
    width: 60%;
    background-color: white;
    border-radius: 10px;
    overflow-x: auto; /* Add horizontal scroll for smaller screens */

    height: auto;
    margin: 1%;
    padding: 1%;
  }
  .table-container h1{
    margin-bottom: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table button{
    height: 40px;
    padding: 7px;
    margin: 3px;
    border: none;
    background-color: white;
    border-radius: 4px; 
    font-size:medium;
   
  }
  table button:hover{
    cursor: pointer;
     border: none;
     color: white;
  }
  #update{
    background-color: rgb(3, 167, 255);
  }
  #delete{
    background-color: red;
  }
  tr:hover{
    background-color:#dcdcdc;
  }
 tr:first-child{
    font-size: larger34;
 }
  th{
    padding: 15px;
    border: 1px solid #ccc;
    height:  45px;
  }
  td{
    padding: 30px;
    border: 1px solid #ccc;
    height:  45px;
  }
  th:first-child, td:first-child {
    min-width: auto; /* Set a minimum width for the first column */
    height: 20px;
    
  }
  
  tr:first-child {
    background-color: lightgray; /* Rare gray background for the first row */
    color: white;
  }
  #submit-button{
    height: 40px;
    padding: 5px;
    border: none;
    /* background-color: white; */
    border-radius: 4px;
  }
  #submit-button:hover{
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
  }
@media screen and (orientation:portrait){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .table-container{
        width: 100%;
    }
    form{
        width: 100%;
        height: auto;
    }
    h1{
        font-size: xx-large;
    }
}