@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-color: #dcdcdc;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  
  
}
nav li{
  height: 100%;
}
nav a{
  height: 100%;
  padding: 0 30px;
  font-size: larger;
  font-weight: 500;
  font-family: cursive;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
  color: rgb(255, 0, 0);
}
nav li:first-child{
  margin-right: auto;
}
#logo{
  display: flex;
  align-items: center;
  margin-left: 6%;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
  height: 50px;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
/* end of navbarrrrrrrrrrrrrrrrrrrrrrrr */
.portfolio{
margin-top: 100px;
background-color: white;
width: auto;
height: auto;
border-radius: 10px;
overflow: hidden;
}
.portfolio img{
    width: 300px;
    height: 350px;
}
.portfolio p{
    padding: 10px;
}
.portfolio span{
    font-weight: bold;
}
.tablecontainer {
    width: 100%;
    text-align: center;
    overflow-x: auto; /* Add horizontal scroll for smaller screens */
    padding: 50px 0;
  
  }
  
  .tablecontainer h1{
    font-size: 36px;
    margin-bottom: 0;
    
  }
  .tablecontainer p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: #6f6d6d;
  }
  table {
    
    margin: 50px auto;
    
    width: 75%;
    border-collapse: collapse;
  }
  #update{
    background-color: rgb(3, 167, 255);
    border: none;
    padding: 5px;
    border-radius: 7px;
  }
  #delete{
    background-color: red;
    border: none;
    padding: 5px;
    border-radius: 7px;
  }
  th{
    padding: 15px;
    border: 1px solid #a8a8a8;
    height:  45px;
  }
  td{
    padding: 30px;
    border: 1px solid #a8a8a8;
    height:  45px;
  }
  th:first-child, td:first-child {
    min-width: auto; /* Set a minimum width for the first column */
    height: 20px;
  }
  tr:hover {
    background-color:   rgb(246, 246, 246);
  }
  tr:first-child {
    background-color: lightgray; /* Rare gray background for the first row */
    color: white;
  }
  @media screen and (orientation:portrait){
    form{
        width: 90%;

    }
  }
  /* ends of table */